@charset "UTF-8";

/* Estilo para impressoras */

html {
    font-family: 'Courier New', Courier, monospace;
    
}

h1 {
    text-align: center;
}
menu {
    display: none;
}
article::after {
    content: 'Artigo impresso por Elesbão bit.ly/perfilgithub';
}
