@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/* Fontes:
 'Passion One', cursive;
 'Sriracha', cursive;
 */

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: black;
    --cor02: white;
    --fonte01: 'Passion One', cursive;
    --fonte02: Verdana, Geneva, Tahoma, sans-serif;
    --fonte03: 'Sriracha', cursive;

}
body {
    min-width: 100vh;
}

header {
    background-color: var(--cor01);
    padding-top: 30px;
    text-align: center;
}
header > h1 {
    font-family: var(--fonte01);
    font-variant: small-caps;
    font-weight: 400;
    font-size: 192px;
    color: var(--cor02);
}
main p {
    font-family: 'Sriracha', cursive;
    font-size: 50px;
}
header > nav > p {
    font-family: var(--fonte02);
    font-weight: 400;
    color: var(--cor02);
    font-size: 17px;
    padding-bottom: 20px;
}
a {
    text-decoration: none;
}
header > nav > p > a {
    color: var(--cor02);
}
header > nav > p > a:hover {
    text-decoration: underline;

}
main {
    max-width: 518px;
}
main section {
    padding-bottom: 50px;
}
#introducao {
    height: 750px;
    background-color: var(--cor02);
    margin-bottom: 10px;
}
main p {
    text-indent: 1em;
    line-height: 2em;
    padding-left: 20px;
}
#imagem01 {
    background-image:url("../imagens/background001.jpg");
    height: 70vh;
    width: 1920px;
    padding: 70px 50px;
    background-size: cover;
    background-position: center center;

}
.pg {
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    width: 33%;
    text-indent: 0%;
}
#imagem02 {
    background-image: url("../imagens/background002.jpg");
   height: 70vh; 
   width: 1920px;
   padding: 60px 30px;
   
}
footer p {
    background-color: var(--cor01);
    color: var(--cor02);
    height: 24px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
footer > p > a {
    color: white;
}
footer > p > a > strong {
   font-weight: bold;
}
footer > p > a:hover {
    text-decoration: underline;
}
abbr {
    color: white;
    text-decoration: none;
}