@charset "UTF-8";

@media screen and (min-width: 768px)  {

     menu {
          display: block;
     }
     
     menu > nav > ul > li {
          display: inline-block;
          text-align: left;
          background-color: rgb(75, 74, 74);
          padding: 10px;
          border: 0px solid;
     }

    menu > ul > li > a { 
     display: inline;         
          background-color: rgb(75, 74, 74);
          padding: 10px;
    }
 
     menu > nav > ul > li:hover  {
          background-color: rgba(255, 255, 255, 0.171);
     }

     main {
          margin: auto;
          margin-top: 15px;
          width: 740px;
     }


     a {
          text-decoration: none;
          color: white;
     }

     span#burguer {
          display: none;
     }
 }



  

   
   
   
   
   


 
